[Unit]
Description=Jupyter
After=syslog.target network.target

[Service]
Type=exec
User=training
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
WorkingDirectory=/opt/jupyter-lab/
ExecStart=/usr/local/bin/start
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

